doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  // Tell the browser to be responsive to screen width
  meta(name='viewport', content='width=device-width, initial-scale=1')
  meta(name='description', content='')
  meta(name='author', content='')
  
 
  // Favicon icon
  link(rel='icon', type='image/png', sizes='16x16', href='assets/images/favicon.png')
  title NEWS
  // Bootstrap Core CSS
  link(href='assets/plugins/bootstrap/css/bootstrap.min.css', rel='stylesheet')
  // Custom CSS
  link(href='css/style.css', rel='stylesheet')
  // You can change the theme colors from here
  link#theme(href='css/colors/blue.css', rel='stylesheet')
  // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
  // WARNING: Respond.js doesn't work if you view the page via file://
  //if lt IE 9
    script(src='js/html5shiv.js')
    script(src='js/respond.min.js')
// ==============================================================
// Preloader - style you can find in spinners.css
// ==============================================================
.preloader
  svg.circular(viewbox='25 25 50 50')
    circle.path(cx='50', cy='50', r='20', fill='none', stroke-width='2', stroke-miterlimit='10')
// ==============================================================
// Main wrapper - style you can find in pages.scss
// ==============================================================
#main-wrapper
  // ==============================================================
  // Topbar header - style you can find in pages.scss
  // ==============================================================
  header.topbar
    nav.navbar.top-navbar.navbar-toggleable-sm.navbar-light
      // ==============================================================
      // Logo
      // ==============================================================
      .navbar-header
        a.navbar-brand(href='index.html')
          // Logo icon
          b
            // You can put here icon as well // <i class="wi wi-sunset"></i> //
            // Dark Logo icon
            img.dark-logo(src='http://portwashington-news.com/wp-content/uploads/2016/07/CollegeNews.png' width='110px;' height='50px;' alt='homepage')
          // End Logo icon
          // Logo text
          span
            // dark Logo text
            //img.dark-logo(src=alt='homepage')
      // ==============================================================
      // End Logo
      // ==============================================================
      .navbar-collapse
        // ==============================================================
        // toggle and nav items
        // ==============================================================
        ul.navbar-nav.mr-auto.mt-md-0
          // This is
          li.nav-item
            a.nav-link.nav-toggler.hidden-md-up.text-muted.waves-effect.waves-dark(href='javascript:void(0)')
              i.ti-menu
          li.nav-item.hidden-sm-down
            form.app-search.p-l-20
              input.form-control(type='text', placeholder='Search for...')
              a.srh-btn
                i.ti-search
        // ==============================================================
        // User profile and search
        // ==============================================================
        ul.navbar-nav.my-lg-0
          li.nav-item.dropdown
            a.nav-link.dropdown-toggle.text-muted.waves-effect.waves-dark(href='', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
             
  // ==============================================================
  // End Topbar header
  // ==============================================================
  // ==============================================================
  // Left Sidebar - style you can find in sidebar.scss
  // ==============================================================
  aside.left-sidebar
    // Sidebar scroll
    .scroll-sidebar
      // Sidebar navigation
      nav.sidebar-nav
        ul#sidebarnav
          li
            a.waves-effect(href='/')
              i.fa.fa-clock-o.m-r-10(aria-hidden='true')
              | HOME
          li
            a.waves-effect(href='/trainings')
              i.fa.fa-cogs.m-r-10(aria-hidden='true')
              | TRAININGS
          li
            a.waves-effect(href='/workshops')
              i.fa.fa-table.m-r-10(aria-hidden='true')
              | WORKSHOPS
          li
            a.waves-effect(href='/seminars')
              i.fa.fa-user.m-r-10(aria-hidden='true')
              | SEMINARS
          li
            a.waves-effect(href='/event')
              i.fa.fa-camera-retro.m-r-10(aria-hidden='true')
              | EVENTS
          li
            a.waves-effect(href='/placedcandidates')
              i.fa.fa-users.m-r-10(aria-hidden='true')
              | PLACED CANDIDATES
          li
            a.waves-effect(href='/cdrive')
              i.fa.fa-paper-plane.m-r-10(aria-hidden='true')
              | CAMPUS DRIVE
          li
            a.waves-effect(href='/exam')
              i.fa.fa-bell.m-r-10(aria-hidden='true')
              | EXAM UPDATES
          li
            a.waves-effect(href='/tech')
              i.fa.fa-newspaper-o.m-r-10(aria-hidden='true')
              | TECH NEWS
          li
            a.waves-effect(href='/articles')
              i.fa.fa-pencil-square-o.m-r-10(aria-hidden='true')
              | ARTICLES
          li
            a.waves-effect(href='/trainers')
              i.fa.fa-pencil-square-o.m-r-10(aria-hidden='true')
              | TRAINERS

          
        .text-center.m-t-30
          
      // End Sidebar navigation
    // End Sidebar scroll
  // ==============================================================
  // End Left Sidebar - style you can find in sidebar.scss
  // ==============================================================
  // ==============================================================
  // Page wrapper
  // ==============================================================
  .page-wrapper
    // ==============================================================
    // Container fluid
    // ==============================================================
    .container-fluid
      // ==============================================================
      // Bread crumb and right sidebar toggle
      // ==============================================================
      .row.page-titles
        .col-md-6.col-8.align-self-center
          h3.text-themecolor.m-b-0.m-t-0 HOME
          ol.breadcrumb
            li.breadcrumb-item
              a(href='javascript:void(0)') Home
            li.breadcrumb-item.active TABLES
         
      // ==============================================================
      // End Bread crumb and right sidebar toggle
      // ==============================================================
      // ==============================================================
      // Start Page Content
      // ==============================================================
      // Row
      //form
      .container
         .card
            .card-block
              h2 Add New trainer Details
              form(method='post', action='/add_trainer' , enctype='multipart/form-data')
                .form-group.row
                  .col-xs-6
                    label(for='usr') Trainer id:
                    input#usr.form-control(type='text', name='trainerid')
                    label(for='ex1')  Name:
                    input#ex1.form-control(name='name', type='text')
                    
                    
                    
                    label(for='pwd') image:
                    input#pwd.form-control(type='file', name='image',required)
                  
                  .col-xs-6
                    label(for='usr') contact:
                    input#usr.form-control(type='text', name='contact')
                    label(for='ex2') Areas of expertise:
                    input#ex2.form-control(name='areas', type='text')
                    
                    label(for='pwd') Register for course:
                    input#usr.form-control(type='text', name='register')
                    
                .pull-right
                  input.btn.btn-primary(type='submit')

     
         .card
            .card-block
              h4.card-title trainers
              .table-responsive
                table.table
                  thead
                    tr
                      th.hide Id
                      th Name
                      th contact
                      th Areas of expertise
                      th trainerid
                      th Register for course
                      th Edit
                      th image
                      th Delete
                      
                      
                      
                      
                  tbody
                    if trainers
                      each member in trainers
                        tr
                          td.hide #{member._id}
                          td #{member.name}
                          td #{member.contact}
                          td #{member.areas}
                          td #{member.trainerid}
                          td #{member.register}
                          
                          
                          td <img src="#{member.image}" alt="Trulli" width="50" height="50"> 
                          td
                            button.btn.btn-info.edit(data-toggle='modal', data-target='#myModal' value=member._id) Edit
                          td
                            button.btn.btn-danger.del(value=member._id) Remove
      // ==============================================================
      // End PAge Content
      // ==============================================================
    // ==============================================================
    // End Container fluid
    // ==============================================================
    // ==============================================================
    // footer
    // ==============================================================
    footer.footer.text-center
      | &copy; 2018 ADITYA NEWS
    // ==============================================================
    // End footer
    // ==============================================================
  // ==============================================================
  // End Page wrapper
  // ==============================================================
// ==============================================================
// End Wrapper
// ==============================================================
// ==============================================================
// All Jquery
// ==============================================================
script(src='assets/plugins/jquery/jquery.min.js')
// Bootstrap tether Core JavaScript
script(src='assets/plugins/bootstrap/js/tether.min.js')
script(src='assets/plugins/bootstrap/js/bootstrap.min.js')
// slimscrollbar scrollbar JavaScript
script(src='js/jquery.slimscroll.js')
// Wave Effects
script(src='js/waves.js')
// Menu sidebar
script(src='js/sidebarmenu.js')
// stickey kit
script(src='assets/plugins/sticky-kit-master/dist/sticky-kit.min.js')
// Custom JavaScript
script(src='js/custom.min.js')
// ==============================================================
// This page plugins
// ==============================================================
// Flot Charts JavaScript
script(src='assets/plugins/flot/jquery.flot.js')
script(src='assets/plugins/flot.tooltip/js/jquery.flot.tooltip.min.js')
script(src='js/flot-data.js')
// ==============================================================
// Style switcher
// ==============================================================
script(src='assets/plugins/styleswitcher/jQuery.style.switcher.js')
script.
    $(document).ready(function() {
    $(".nav-tabs a").click(function() {
    $(this).tab('show');
    });
    });
    $('.edit').click(function() {
    var id = $(this).val();
    alert(id);
    $.post('/edit_trainer', {
    sno: id
    }, function(data, xhr) {
    var jsondata = JSON.stringify(data);
    var data1 = JSON.parse(jsondata);
    
   
   
    
    document.getElementById("name").innerHTML = data1[0].name;
    document.getElementById("contact").innerHTML = data1[0].contact;
  
    document.getElementById("areas").innerHTML = data1[0].areas;
   
    document.getElementById("image").src = data1[0].image; 
    document.getElementById("register").href = data1[0].register;
     });
    $('.find').show();
    });
    
    $('.del').click(function() {
    var id = $(this).val();
    //alert(id);
    $.post('/remove_trainer', {
    sno: id
    }, function(data, xhr) {
    location.reload();
    });
    });
#myModal.modal.fade(role='dialog')
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
       center 
        h4.modal-title View Trainer Details
      .modal-body
        section#banner
              .content
                 header
                  .row
                     .col-md-12.col-sm-12
                            center
                               <img id="image" src=""  alt="" />
                               <hr>
                     .col-md-6.col-md-offset-3.col-sm-12 
                               table.table.table-striped
                                 tbody
                                   tr
                                     th(scope='col') Name
                                     th#name(scope='col')
                                     
                                 
                                   tr
                                     th(scope='row') Contact
                                     td#contact
                                     
                                   tr
                                     th(scope='row') Ateas of Expertise
                                     td#areas
                                     
                                   tr
                                     th(scope='row') Register to link
                                     td
                                       <a id="register" href="">view</a>
                                     
                         
      

      .modal-footer
        button.btn.btn-default(type='submit', data-dismiss='modal') Cancel